
{{!-- outlet "filterPane"}}
<aside class="pane side-pane filter-pane">
--}}
<aside {{bind-attr class=":st-menu view.transitionEffect"}} {{action "closeMenu" target=view on="mouseLeave"}}>
  <h2>Categories</h2>
  {{category-select-wrapper action="updateCategories" categories=allCategories activeCategories=activeCategories}}
</aside>

{{!-- <section class="pane main-pane"> --}}
<div class="st-pusher">
  <section class="st-content">
    <div class="pane-body app-body">

      {{partial "app-header"}}

      {{outlet}}
    </div>
  </section>
</div>
</section>
