
<div {{bind-attr class=":archive-item popOut content.isFeatured isActive:active animate:fade animate:in"}}>
  {{#if template}}{{yield}}{{else}}

  <strong>{{titleize content.title}}</strong>
  <div class="row">
    <div class="col-sm-5">
    {{range content.range formatOptions}}
    </div>
    {{#if content.location}}
      <div class="col-sm-7"><strong>Location: </strong>{{content.location}}</div>
    {{/if}}
  </div>

  {{/if}}
</div>
