
<div class="row">
  <div class="col-sm-5">
    <strong>{{titleize content.title}}</strong>
  </div>
  <div class="col-sm-3">
  {{#if isMultiDay}}
    {{date content.start}}, {{time content.start}}
    {{#if isMinDuration}} - {{date content.start}}, {{time content.end}}{{/if}}
  {{else}}
    {{time content.start}}
    {{#if isMinDuration}} - {{time content.end}}{{/if}}
  {{/if}}
  </div>
  {{#if content.location}}
    <div class="col-sm-3"><strong>Location: </strong>{{content.location}}</div>
  {{/if}}
</div>
