<header>
{{!--
  <div class="button-header button-left" {{action "changeMonth" -1}}>left</div>
  <div class="current-month">{{currentMonthName}}</div>
  <div class="button-header button-right" {{action "changeMonth" 1}}>right</div>
--}}
  {{range-pager range="month" date=currentMonth format="MMMM" shortFormat="MMM"}}
</header>

{{partial "calendar-month"}}