<header class="page-header">
  {{#link-to 'day' 'today' classNames="btn pull-right valpo-sheen-gold" tagName="button"}}Today{{/link-to}}
  <span class="h1">
  {{#with currentDay}}
    {{partial "current-day-format"}}
  {{/with}}
  </span>
</header>
<div class="events-body">
  <div class="row">
    <div class="col-sm-6 main-controls">
      <div class="row">
        {{date-picker activeDate=currentDay action="transitionToDay" class="col-xs-12"}}
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Upcoming Events</h2>
      <div class="row">
      {{#each event in featuredEvents}}
        {{archive-item content=event isPromoted=true currentDay=currentDay filters=filters action="transitionToEvent"}}
      {{else}}
        {{#archive-item}}
          There are no Featured Events today.
        {{/archive-item}}
      {{/each}}
      </div>
    </div>
  </div>

  {{#if App.isMobile}}<h2>{{moment currentDay "MMM D, YYYY"}}</h2>{{/if}}

  {{#if allDayEvents}}
    <div class="page-header">
      <h2>All Day Events</h2>
    </div>
    <div class="row">
    {{#each event in allDayEvents}}
      {{archive-item content=event filters=filters action="transitionToEvent"}}
    {{/each}}
    </div>
  {{/if}}

  <section class="events-list">
    <header class="page-header">
      <h2>Events List</h2>
    </header>
    <div class="row fader">
    {{#each event in eventsList}}
      {{archive-item content=event filters=filters classNames="col-md-6" action="transitionToEvent"}}
    {{else}}
      {{#archive-item}}
        Your search for events on {{date currentDay}} rendered no results.
      {{/archive-item}}
    {{/each}}
    </div>
  </section>

  {{outlet}}
</div>
