{{partial "day-header"}}
<div class="events-body">
  <div class="row">
    <div class="col-sm-6 main-controls">
      {{filter-toggle action="toggleFilterPane" isOpen=filtersAreOpen isMobile=App.isMobile title="Categories" classNames="btn-lg valpo-sheen-gold"}}
      <button class="btn pull-right btn-lg  valpo-sheen-gold" {{action "transitionToDay" today}}>Today</button>
      <div class="row">
        {{date-picker activeDate=currentDay action="transitionToDay" class="col-xs-12"}}
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Featured Events</h2>
      <div class="row">
      {{#each featuredEvents}}
        {{archive-item content=this action="transitionToEvent"}}
      {{else}}
        {{#archive-item}}
          There are no Featured Events today.
        {{/archive-item}}
      {{/each}}
      </div>
    </div>
  </div>

  {{#if hasAllDayEvents}}
    <div class="page-header">
      <h2>All Day Events</h2>
    </div>
    <div class="row">
    {{#each allDayEvents}}
      {{archive-item content=this action="transitionToEvent"}}
    {{/each}}
    </div>
  {{/if}}

  <section class="events-list">
    <header class="page-header">
      <h2>Events List</h2>
    </header>
    <div class="row fader">
    {{#each filteredEvents}}
      {{archive-item content=this classNames="col-md-6" action="transitionToEvent"}}
    {{else}}
      {{#archive-item}}
        Your search for events on {{date currentDay}} rendered no results.
      {{/archive-item}}
    {{/each}}
    </div>
  </section>

  {{outlet}}
</div>
