<header class="page-header events-header">
{{!partial "calendar-svg"}}
<h1>{{moment currentDay "dddd, MMMM Do, YYYY"}}</h1>
</header>
<div class="events-body">
  {{range-pager action="transitionToDay" date=currentDay range="day"}}

  {{#archive-list items=filteredContent transition="transitionToEvent" classNames="fader"}}
    <div class="well">
    <h3>Your search for events on {{date currentDay}} rendered no results.</h3>
    {{!-- {{partial _crying-face}} --}}
    </div>
  {{/archive-list}}

  {{outlet}}
</div>