{{#view view.modalClass}}
<header class="modal-header">
  <button class="close" type="button" {{action "closeModal" target="view.parentView"}}>&times;</button>
  <h3>{{title}}</h3>
</header>
<section class="modal-body">
  <p>
    {{date startDate}}
    {{#if isMultiDay}} - {{date endDate}}{{/if}}
    <br />
    {{time start}} - {{time end}}
  </p>
  <p><b>Location: </b>{{location}}</p>
  <p><b>Description: </b>{{showdown description}}</p>
  {{#if url}}
  <p><a {{bindAttr href="url"}}>More Information</a></p>
  {{/if}}
</section>
{{/view}}
{{view view.modalBackdropClass}}