<section class="well">
  <a href="#" class="btn btn-primary btn-giving" {{action "back"}}>Back</a>
  <header>
    <h3>{{titleize content.title}}</h3>
  </header>

  <div>
    <div class="well well-vu">
      {{#if isMultiDay}}
        {{range range}}
      {{else}}
        {{date start}}<br />
        {{range range showDate=false}}
      {{/if}}
    </div>
    <p><b>Location: </b>{{content.location}}</p>
    {{#if content.description}}{{showdown content.description}}{{/if}}
    {{outlet}}
  </div>

  <footer>
  {{#if content.url}}
    <a {{bindAttr href="content.url"}}>More Information &nbsp;&gt;&gt;</a>
  {{/if}}
  </footer>
</section>
