<section>
  <h3>{{titleize content.title}}</h3>
  <p>
  {{#if isMultiDay}}
    {{date content.start}}, {{time content.start}}
    {{#if isMinDuration}} - {{date content.start}}, {{time content.end}}{{/if}}
  {{else}}
    {{date content.start}}
    <br />
    {{time content.start}}
    {{#if isMinDuration}} - {{time content.end}}{{/if}}
  {{/if}}
  </p>
  <p><b>Location: </b>{{content.location}}</p>
  {{#if content.description}}{{showdown content.description}}{{/if}}
  {{outlet}}
</section>
<footer>
{{#if content.url}}
  <a {{bindAttr href="content.url"}}>More Information &nbsp;&gt;&gt;</a>
{{/if}}
</footer>
