
{{partial "day-header"}}

<button class="btn btn-primary" {{action "loadDay"}}>
  <i class="icon-long-arrow-left"></i> Events
</button>

<div class="media">

  {{! imgUrl doesn't exist upon writing. Just using as a place holder}}
  {{!-- <aside {{bind-attr class=":pull-left imgUrl::hidden"}}> --}}
  <aside {{bind-attr class=":pull-left imgUrl::hidden"}}>
    <img class="media-object" {{bind-attr src=imgUrl}} alt="...">
  </aside>

  <div class="media-body">
    <h4 class="media-heading">{{titleize title}}</h4>
    <p>
    {{#if isMultiDay}}
      {{range range}}
    {{else}}
      {{date start}}<br />
      {{range range showDate=false}}
    {{/if}}
    </p>
    <p><b>Location: </b>{{#if location}}{{location}}{{else}}To Be Determined{{/if}}</p>
    {{#if description}}{{showdown description}}{{/if}}
    <p {{bind-attr class="url::hidden"}}><a {{bind-attr href=url}} target="_blank">More Information &nbsp;&gt;&gt;</a><p>
  </div>
</div>

{{#if day.eventsList}}
  <header class="page-header">
    <h2>
    {{#unless isCurrentDay}}
      {{#with day.currentDay}}
        {{partial "current-day-format"}}&nbsp;
      {{/with}}
    {{/unless}}
      Events List
    </h2>
  </header>
  <div class="row fader">
  {{#each day.eventsList}}
    {{archive-item content=this classNames="col-md-6" action="transitionToEvent"}}
  {{/each}}
  </div>
{{/if}}

{{outlet}}
