<button type="button" {{action "lastMonth"}} class="btn btn-primary col-sm-1">&lt;</button>
<button type="button" {{action "nextMonth"}} class="btn btn-primary col-sm-1 pull-right">&gt;</button>
<table class="table">
  <caption class="page-header"><h1>{{stateValue}}</h1></caption>
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
  </thead>
  <tbody>
    {{#each week in tiles}}
    <tr>
      {{#each week}}
      <td>
        {{! {{#linkTo "list" this classNames="btn btn-block" classNameBindings="isInMonth::disabled isSelected:active isToday:btn-warning:btn-primary hasEvents:has-events"}}
          {{! {{stateValue}}
        {{! {{/linkTo}}
        <button type="button" {{action "selectDay" this}} {{bindAttr class=":btn :btn-block :btn-large isInMonth::disabled isSelected:active isToday:btn-warning:btn-primary hasEvents:has-events"}}>
          {{stateValue}}
        </button>
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
<ul>
{{#each week in tiles}}
  {{#each week}}
    <li>{{partial "day-tile"}}</li>
  {{/each}}
{{/each}}
</ul>
{{outlet}}
